{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}


    

    

    <div class="content-block gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp">
                    <h3>Courses we are offering now</h3>
                    <div class="spacer-30"></div>
                </div>
            </div>

            <div class="row">
                {% for advert in adverts %}
                <div class="col-sm-12 wow fadeInUp">
                    <div class="service-box-style-2">
                        <span class="ticker green-bg">{{ advert.created|timesince }}</span>
                        <h3>{{ advert.subject }}</h3>
                        <p>{{ advert.description|truncatewords:8 }}</p>
                        <a href="{{ advert.get_absolute_url }}" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                        <p>{{ advert.created|date:"D d E Y" }}</p>
                    </div>
                </div>
                {% endfor %}
                
            </div>

            <div class="spacer-45 hidden-xs"></div>

            <!--<div class="row">
                <div class="col-sm-4 wow fadeInUp" data-wow-delay="1.3s">
                    <div class="service-box-style-2">
                        <h3>Java Programming</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-delay="1.4s">
                    <div class="service-box-style-2">
                        <span class="ticker orange-bg">Trending</span>
                        <h3>UX Design</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-delay="1.5s">
                    <div class="service-box-style-2">
                        <h3>Business Management</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>-->

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cta-area wow fadeInUp">
                    <h2>20% Off</h2>
                    <p>on your first project</p>

                    <a href="get-a-quote-1.html" class="boxed-btn cta-btn">Get started now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="content-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp">
                    <h3>Courses we are offering now</h3>
                    <div class="spacer-30"></div>
                </div>
            </div>
            <div class="row">
                {% for advert in adverts %}
                <div class="col-sm-6">
                    <div class="service-box-style-5 wow fadeInUp">
                        <h3>{{ advert.subject }}</h3>
                        <p>{{ advert.description|truncatewords:8 }}</p>
                        <a href="{{ advert.get_absolute_url }}" class="readmore-btn">Детальніше<i class="fa fa-angle-right"></i></a>
                        <p>{{ advert.created|date:"D d E Y" }}</p>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cta-area wow fadeInUp">
                    <h2>20% Off</h2>
                    <p>on your first project</p>

                    <a href="get-a-quote-1.html" class="boxed-btn cta-btn">Get started now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="content-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp">
                    <h3>Courses we are offering now</h3>
                    <div class="spacer-30"></div>
                </div>
            </div>
            
            <div class="row">
                {% for service in services %}
                <div class="col-md-4">
                    <h3>{{ service.subject }}</h3>
                    <p>{{ service.description|truncatewords:15 }} </p>
                    <a href="{{ service.get_absolute_url }}" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="col-md-4 text-center">
                    <img src="{% static 'assets/img/bucket.jpg' %}" alt="" class="img-rounded">
                </div>
                <div class="col-md-4">
                    <div class="white-box">
                        <h3>Work info</h3>
                        <ul class="project-info">
                            <li><span>Client:</span> Rasel Ahmed</li>
                            <li><span>Date:</span> 27 December 2016</li>
                            <li><span>Location:</span> Dhaka, Bangladesh</li>
                            <li><span>Category:</span> Construction</li>
                            <li><span>Budget:</span> $23999</li>
                            <li><span>Time:</span> 36 Days</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>


    <div class="content-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                    <div class="section-heading">
                        <h2>Our Awesome Services</h2>
                        <p>Material confined likewise it humanity raillery an unpacked as he. Three chief merit no if. Now how her edward engage not horses. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="single-service-item no-padding-right wow fadeInUp">
                        <div class="service-box-bg" style="background-image: url(assets/img/photo_2.jpg);"></div>
                        <h3>Home Building</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-item no-padding-right wow fadeInUp">
                        <div class="service-box-bg" style="background-image: url(assets/img/default.jpg);"></div>
                        <h3>Home Building</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-item no-padding-right wow fadeInUp" data-wow-delay="1.1s">
                        <div class="service-box-bg" style="background-image: url(assets/img/service-constraction-2.jpg);"></div>
                        <h3>Port Construction</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-item no-padding-right wow fadeInUp" data-wow-delay="1.2s">
                        <div class="service-box-bg" style="background-image: url(assets/img/service-constraction-3.jpg);"></div>
                        <h3>Developing Partnership</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-item no-padding-right wow fadeInUp">
                        <div class="service-box-bg" style="background-image: url(assets/img/service-constraction-1.jpg);"></div>
                        <h3>Home Building</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-item no-padding-right wow fadeInUp">
                        <div class="service-box-bg" style="background-image: url(assets/img/service-constraction-1.jpg);"></div>
                        <h3>Home Building</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-item no-padding-right wow fadeInUp">
                        <div class="service-box-bg" style="background-image: url(assets/img/service-constraction-1.jpg);"></div>
                        <h3>Home Building</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="spacer-45 hidden-xs"></div>


        </div>
    </div>

    <!-- вставка-->
    <div class="content-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                    <div class="section-heading">
                        <h2>Our Awesome Services</h2>
                        <p>Material confined likewise it humanity raillery an unpacked as he. Three chief merit no if. Now how her edward engage not horses. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 wow fadeInUp">
                    <a href="single-work-construction.html" class="service-box-style-3" style="background-image: url(assets/img/default.jpg)">
                        <h4>Interior Design</h4>
                        Free class - 2
                    </a>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-delay="1.1s">
                    <a href="single-work-construction.html" class="service-box-style-3" style="background-image: url(assets/img/education-case-2.jpg)">
                        <h4>Ebook writing</h4>
                        Free class - 3
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4 wow fadeInUp" data-wow-delay="1.3s">
                    <a href="single-work-construction.html" class="service-box-style-3" style="background-image: url(assets/img/education-case-4.jpg)">
                        <h4>Portfolio Building</h4>
                        Courses on sale for $10
                    </a>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-delay="1.4s">
                    <a href="single-work-construction.html" class="service-box-style-3" style="background-image: url(assets/img/education-case-5.jpg)">
                        <h4>UX design</h4>
                        Courses on sale for $30
                    </a>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-delay="1.5s">
                    <a href="single-work-construction.html" class="service-box-style-3" style="background-image: url(assets/img/education-case-6.jpg)">
                        <h4>Wordpress development</h4>
                        Finance, Insurance
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-right wow fadeInUp">
                    <a class="readmore-btn" href="">See All case studies <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end вставка-->
    <div class="content-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp">
                    <div class="section-heading">
                        <h2>Our Awesome Services</h2>
                        <p>Material confined likewise it humanity raillery an unpacked as he. Three chief merit no if. Now how her edward engage not horses. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-service-item wow fadeInUp">
                        <h3>Web Design</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-item wow fadeInUp" data-wow-delay="1.1s">
                        <h3>UI/UX Design</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-item wow fadeInUp" data-wow-delay="1.2s">
                        <h3>App Development</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="specer-70 hidden-xs"></div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-service-item wow fadeInUp" data-wow-delay="1.3s">
                        <h3>Social Media Marketing</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-item wow fadeInUp" data-wow-delay="1.4s">
                        <h3>SEO Services</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-service-item wow fadeInUp" data-wow-delay="1.5s">
                        <h3>Content Writing</h3>
                        <p>Our awesome members are ready to create your dream website project with passion and dedication.</p>
                        <a href="single-service-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cta-area wow fadeInUp">
                    <h2>20% Off</h2>
                    <p>on your first project</p>
                    
                    <a href="get-a-quote-1.html" class="boxed-btn cta-btn">Get started now</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow fedeInLeft">
                    <h3>Mega is an awesome<br/> multipurpose Template.</h3>
                    <p>Picture removal detract earnest is by. Esteems met joyway clothes yet demesne tedious. Replying an marianne doentrance advanced. Two dare say play when hold. Requiredme material stanhill jointure is as he. Mutual indeed yetresult matter him bed whence. </p>
                    <a href="about-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                </div>
                <div class="col-md-4 text-center wow fadeInUp">
                    <img src="assets/img/bucket.jpg" alt="" class="img-rounded about-icon-img">
                </div>
                <div class="col-md-4 wow fadeInRight">
                    <h3>Simplicity is the best way<br/> of desiging a product.</h3>
                    <p>Picture removal detract earnest is by. Esteems met joyway clothes yet demesne tedious. Replying an marianne doentrance advanced. Two dare say play when hold. Requiredme material stanhill jointure is as he. Mutual indeed yetresult matter him bed whence. </p>
                    <a href="services-agency.html" class="readmore-btn">See more  <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="content-block wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Customers loves us for our work.<br/> Here are some valuable comments.</h3>
                    
                    <div class="testimonial-carousel">
                        <div class="single-testimonial-item">
                            <div class="testimonial-content">
                                <p>In on announcing if of comparison pianoforte projection. Maidsgay yet bed asked blind dried point. On abroad danger likely regretedward do. Too horrible consider followed may differed age.</p>
                            </div>
                            
                            <div class="testimonial-author-info">
                                <img src="assets/img/author.jpg" alt="">
                                <h4>James Cameron</h4>
                                CEO, Open Work Challenge
                            </div>
                        </div>
                        <div class="single-testimonial-item">
                            <div class="testimonial-content">
                                <p>In on announcing if of comparison pianoforte projection. Maidsgay yet bed asked blind dried point. On abroad danger likely regretedward do. Too horrible consider followed may differed age.</p>
                            </div>
                            
                            <div class="testimonial-author-info">
                                <img src="assets/img/author-2.jpg" alt="">
                                <h4>John Doe</h4>
                                Marketing Officer, Open Work Challenge
                            </div>
                        </div>
                        <div class="single-testimonial-item">
                            <div class="testimonial-content">
                                <p>In on announcing if of comparison pianoforte projection. Maidsgay yet bed asked blind dried point. On abroad danger likely regretedward do. Too horrible consider followed may differed age.</p>
                            </div>
                            
                            <div class="testimonial-author-info">
                                <img src="assets/img/author.jpg" alt="">
                                <h4>James Cameron</h4>
                                CEO, Open Work Challenge
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}    
