{% extends "base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% block content %}


    <div class="content-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        {% for advert in adverts %}   
                        <div class="col-sm-12">
                            <a href="{{ advert.get_absolute_url }}" class="single-boxed-item wow fadeInUp">
                                <div class="boxed-preview" style="background-image: url(assets/img/blog-1.jpg)"></div>
                                <h4>{{ advert.subject }}</h4>
                                {{ advert.created }}
                            </a>
                        </div>
                        {% endfor %}
                        
                    </div>
                    
                    {% include 'inc/paginator.html' %}
                    
                    
                </div>
                <div class="col-sm-4">
                    <div class="widget">
                        <form class="search-form" action="blog.html">
                            <input type="search" placeholder="Type to search here...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    
                   
                    
                    <div class="widget category_list">
                        <h3 class="widget-title">Категорії</h3>
                        <ul>
                            {% for category in categorys %}
                            <li><a href="{{ category.get_absolute_url }}">{{category.name}}</a></li>
                            {% endfor %}
                            
                        </ul>
                    </div>

                    <div class="widget recent_posts">
                        <h3 class="widget-title">Recent posts</h3>
                        <ul>
                            <li><a href="">How to Create a Countdown Timer With a Full Screen Background Video. <span>21st Nov, 2016</span></a></li>
                            <li><a href="">How to Re-Order Your Blog Posts (with 2 Methods) <span>21st Nov, 2016</span></a></li>
                            <li><a href="">How to Create a Countdown Timer With a Full Screen Background Video. <span>21st Nov, 2016</span></a></li>
                            <li><a href="">How to Re-Order Your Blog Posts (with 2 Methods) <span>21st Nov, 2016</span></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}