<div class="blog-pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page=1">&laquo; first</a></li>
        <li><a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        {% endif %} 
        {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number == p %}
        <li><a class="active" href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
        {% endfor %} 
        {% if page_obj.has_next %} 
        <li><a href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        <li><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %} 
    </ul>
</div>